body {
	font: 14px/1.5 sans-serif;
	color: #444;
}

#boundingbox {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;	
  box-shadow: 0px 0px 8px 1px #bbb;
}

a {
  color:#444;
  text-decoration:none;
}

a:hover {
  color:#452dbf;
}

h1, h3 {
  padding: 0;
  margin-bottom:0px;
  margin-left: 10px;
}

h1 {
  margin-top:30px;
}

h3 {
  margin-top:10px;
}

p {
  margin: 10px;
}

h2 {
  margin-top:0px;
  margin-left:20px;	
}

ul { 
  list-style: none; 
}

.affiliation {
  padding-bottom: 35px;
  margin-top: 40px;
  text-align: center;
}

.sc { 
  font-variant: small-caps; 
}